In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("D:\Downloads\creditcard.csv\creditcard.csv")

In [3]:
df.head(2)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0

In [4]:
df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

**0 for normal_transaction**  ,
**1 for fraud transaction**

In [5]:
legit = df[df['Class']==0]
fraud = df[df['Class']==1]

In [6]:
legit.head(2)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0

In [7]:
fraud.head(2)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.0,1
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.0,1

In [8]:
df.groupby(by = 'Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [9]:
#coz legit and fraud transaction are not in same distribution , so we create a sample of legit transaction similar to fraud
legit_sample = legit.sample(n=492)

In [10]:
#concat the legit_sample and  fraud
newdf  = pd.concat([legit_sample , fraud]  ,axis  =  0)

In [11]:
newdf.head(2)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
174810,122077.0,-0.267915,1.250967,-0.696741,-0.583737,0.611732,-0.605946,0.609221,0.412993,-0.590339,...,-0.222948,-0.655958,0.180213,0.676317,-0.415867,0.086416,0.092773,0.015040,17.99,0
126863,78129.0,1.227099,-0.784470,0.417958,-0.600555,-1.029391,-0.296032,-0.666132,0.110165,-0.737669,...,0.114040,0.210506,-0.008011,0.217190,0.358147,-0.254359,0.004746,0.006122,49.95,0

In [12]:
newdf['Class'].value_counts()  # that is similar distribution

Class
0    492
1    492
Name: count, dtype: int64

In [13]:
newdf.groupby(by = 'Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94722.613821,0.099402,0.049926,0.002828,-0.038030,-0.015328,0.004730,-0.016417,-0.081516,-0.032377,...,-0.012572,-0.013213,-0.003795,0.006197,-0.024101,0.031092,-0.020770,-0.022327,-0.001109,82.559634
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [14]:
X = newdf.drop('Class' , axis = 1)
Y  = newdf['Class']

In [15]:
X.head(2)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
174810,122077.0,-0.267915,1.250967,-0.696741,-0.583737,0.611732,-0.605946,0.609221,0.412993,-0.590339,...,-0.00959,-0.222948,-0.655958,0.180213,0.676317,-0.415867,0.086416,0.092773,0.015040,17.99
126863,78129.0,1.227099,-0.784470,0.417958,-0.600555,-1.029391,-0.296032,-0.666132,0.110165,-0.737669,...,0.03675,0.114040,0.210506,-0.008011,0.217190,0.358147,-0.254359,0.004746,0.006122,49.95

In [16]:
Y.head(2)

174810    0
126863    0
Name: Class, dtype: int64

In [17]:
X_train  , X_test , Y_train  ,Y_test   = train_test_split(X, Y ,test_size = .20)

In [18]:
X_train.shape  , X_test.shape , Y_train.shape  ,Y_test.shape

((787, 30), (197, 30), (787,), (197,))

In [19]:
from sklearn.linear_model import LogisticRegression
model =  LogisticRegression()

In [20]:
model.fit(X_train,Y_train)

C:\Users\hodkh\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [21]:
X_train_prediction  = model.predict(X_train)

In [22]:
training_data_accuracy  = accuracy_score(X_train_prediction , Y_train)
print('training data accuracy is  : '  ,training_data_accuracy)

training data accuracy is  :  0.9567979669631512

In [23]:
X_test_prediction  = model.predict(X_test)

In [24]:
test_data_accuracy = accuracy_score(X_test_prediction  , Y_test)
print('test data accuracy is  : ' , test_data_accuracy)

test data accuracy is  :  0.8934010152284264

**Thankyou!**